@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 213 50% 3%;
		--foreground: 213 5% 90%;
		--card: 213 50% 2%;
		--card-foreground: 213 5% 90%;
		--popover: 213 50% 5%;
		--popover-foreground: 213 5% 90%;
		--primary: 213 96% 14%;
		--primary-foreground: 0 0% 100%;
		--secondary: 213 30% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 175 30% 15%;
		--muted-foreground: 213 5% 60%;
		--accent: 175 30% 15%;
		--accent-foreground: 213 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 213 5% 90%;
		--border: 213 30% 18%;
		--input: 213 30% 18%;
		--ring: 213 96% 14%;
		--radius: 0.75rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
